<div [formGroup]="addressForm">
  <!-- Street -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Street</mat-label>
    <input matInput formControlName="street" placeholder="Enter street" />
    <mat-error *ngIf="addressForm.get('street')?.hasError('required')">Street is required</mat-error>
  </mat-form-field>

  <!-- City -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" placeholder="Enter city" />
    <mat-error *ngIf="addressForm.get('city')?.hasError('required')">City is required</mat-error>
  </mat-form-field>

  <!-- District -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>District</mat-label>
    <input matInput formControlName="district" placeholder="Enter District" />
    <mat-error *ngIf="addressForm.get('district')?.hasError('required')">District is required</mat-error>
  </mat-form-field>

  <!-- Postal Code -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Postal Code</mat-label>
    <input matInput formControlName="postalcode" placeholder="Postal Code" />
    <mat-error *ngIf="addressForm.get('postalcode')?.hasError('required')">Postal Code is required</mat-error>
  </mat-form-field>

  <!-- State -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>State</mat-label>
    <input matInput formControlName="state" placeholder="Enter state" />
    <mat-error *ngIf="addressForm.get('state')?.hasError('required')">State is required</mat-error>
  </mat-form-field>

  <!-- Country -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" placeholder="Enter country" />
    <mat-error *ngIf="addressForm.get('country')?.hasError('required')">Country is required</mat-error>
  </mat-form-field>
</div>
