<!-- header with navigation -->
<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" #sidenav [opened]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- main content -->
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- footer -->
<app-footer></app-footer>
