<mat-toolbar color="primary" class="header-toolbar">
  <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
  <span class="header-logo">MyApp</span>
  <span class="header-spacer"></span>
  <nav class="header-menu">
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-button routerLink="/services" routerLinkActive="active">Services</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    <!-- if user is active then logout else login -->
    <a *ngIf="isUserLoggedIn()" mat-button (click)="logout()"><mat-icon>logout</mat-icon>  Logout</a>
    <a *ngIf="!isUserLoggedIn()" mat-button routerLink="/login" routerLinkActive="active"><mat-icon>login</mat-icon>  Login</a>
  </nav>
</mat-toolbar>




  
