<div class="registration-container">
  <div class="registration-header">
    <h2>Student Registration</h2>
  </div>
  
  <div class="registration-body">
    <form [formGroup]="registrationForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name" />
        <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name" />
        <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
      </mat-form-field>

      <!-- permanent address -->
      <mat-divider></mat-divider>
      <h3>Permanent Address</h3>
      <app-address [addressForm]="permanentAddress" class="full-width"></app-address>

      <!-- residential address -->
      <mat-checkbox formControlName="sameAsPermanentAddress">Same as Permanent Address</mat-checkbox>
      <mat-divider></mat-divider>
      <div *ngIf="!registrationForm.get('sameAsPermanentAddress')?.value">
        <h3>Residential Address</h3>
        <app-address [addressForm]="residentialAddress" class="full-width"></app-address>
      </div>
      <br />

      <!-- parents details -->
      <!-- guardian details -->
      

      <!-- siblings details -->
      <mat-divider></mat-divider>
      <h3>Siblings Details</h3>
      <div formArrayName="siblings" class="sibling-container">
        <div *ngFor="let sibling of siblings.controls; let i = index" [formGroupName]="i" class="sibling-fields">
          <mat-form-field appearance="fill">
            <mat-label>Sibling Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter sibling name" />
            <mat-error *ngIf="sibling.get('name')?.hasError('required')">Sibling Name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sibling Age</mat-label>
            <input matInput formControlName="age" placeholder="Enter sibling age" />
            <mat-error *ngIf="sibling.get('age')?.hasError('required')">Sibling Age is required</mat-error>
          </mat-form-field>
          <button mat-button color="warn" (click)="removeSibling(i)">Remove</button>
        </div>
        <button mat-raised-button color="primary" (click)="addSibling()">Add Sibling</button>
      </div>
    
      <button mat-raised-button color="primary" 
        (click)="onSubmit()" 
        [disabled]="!isValidForm()">Submit</button>
    </form>
  </div> 
</div>

