/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registration-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

.registration-header {
  
}

.full-width {
  width: 100%;
}

.gender-group {
  margin: 16px 0;
}

.horizontally-spaced {
  display: flex;
  justify-content: space-around;
  align-items: left;
}